/* blockPage.module.css */
.blockPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    height: 100vh;
    /* background-image: url("./imgs/shully1.png") !important; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}
.cloudeImage {
    width: 100%;
    height: auto;
    object-fit: cover; /* 이미지 비율 유지하며 크기 조정 */
    display: block;    /* 이미지가 인라인 요소로 동작하지 않도록 설정 */
    border-radius: 10px; /* 이미지 둥근 테두리 (옵션) */
  }